<main>
  {{> _flash-message}}

  <form action="/admin/products/{{#if product}}{{product._id}}{{else}}{{oldInput.productId}}{{/if}}" method="POST"
    class="product-form" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

    <div class="form-control">
      <label for="title">Title</label>
      <input id="title" type="text" name="title" value="{{#if product}}{{product.title}}{{else}}{{oldInput.title}}{{/if}}"/>
    </div>

    <!-- <div class="form&#45;control"> -->
    <!--   <label for="imageUrl">Image URL</label> -->
    <!--   <input id="imageUrl" type="text" name="imageUrl" value="{{#if product}}{{product.imageUrl}}{{else}}{{oldInput.imageUrl}}{{/if}}"/> -->
    <!-- </div> -->

    <div class="form-control">
      <label for="image">Image</label>
      <input id="image" type="file" name="image" />
    </div>

    <div class="form-control">
      <label for="price">Price</label>
      <input id="price" type="number" name="price" step="0.01" value="{{#if product}}{{product.price}}{{else}}{{oldInput.price}}{{/if}}"/>
    </div>

    <div class="form-control">
      <label for="description">Description</label>
      <textarea name="description" id="description" rows="5">{{#if product}}{{product.description}}{{else}}{{oldInput.description}}{{/if}}</textarea>
    </div>

    <button type="submit">Update Product</button>
  </form>
</main>
