<main>
  {{#if hasProducts}}
    <ul class="cart__item-list">
      {{#each products}}
        <li class="cart__item">
          <h1>{{ this.productId.title }}</h1>
          <h2>Quantity: {{ this.quantity }}</h2>
          <form action="/cart/{{ this.productId._id }}/delete" method="POST">
            <input type="hidden" name="_csrf" value="{{ ../csrfToken }}" />
            <button type="submit" class="btn danger">Delete</button>
          </form>
        </li>
      {{/each}}
    </ul>
    <br />
    <div class="centered">
      <form action="/orders" method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <button type="submit" class="btn">Order Now!</button>
      </form>
    </div>
  {{else}}
    <h1>No products in cart!</h1>
  {{/if}}
</main>
